// global color tokens
$-clr-white: hsl(0, 0%, 100%);
$-clr-light-pink: hsl(274, 100%, 97%);
$-clr-pale-purple: hsl(292, 16%, 49%);
$-clr-pink: hsl(281, 83%, 54%);
$-clr-dark-purple: hsl(292, 42%, 14%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-light-pink,
    "500": $-clr-pale-purple,
    "900": $-clr-dark-purple,
  ),
  "primary": (
    "400": $-clr-pink,
  ),
);

// $dark: (
//   "neutral": (
//     "1000": $-clr-white,
//     "900": $-clr-gray-100,
//     "800": $-clr-gray-200,
//     "700": $-clr-gray-300,
//     "600": $-clr-gray-400,
//     "500": $-clr-gray-500,
//     "400": $-clr-gray-600,
//     "300": $-clr-gray-700,
//     "200": $-clr-gray-800,
//     "100": $-clr-gray-900,
//     "000": $-clr-black,
//   ),
//   "accent": (
//     "900": $-clr-deeppink-900,
//     "800": $-clr-deeppink-800,
//     "700": $-clr-deeppink-700,
//     "600": $-clr-deeppink-600,
//     "500": $-clr-deeppink-500,
//     "400": $-clr-deeppink-400,
//     "300": $-clr-deeppink-300,
//     "200": $-clr-deeppink-200,
//     "100": $-clr-deeppink-100,
//   ),
//   "primary": (
//     "900": $-clr-skyblue-900,
//     "800": $-clr-skyblue-800,
//     "700": $-clr-skyblue-700,
//     "600": $-clr-skyblue-600,
//     "500": $-clr-skyblue-500,
//     "400": $-clr-skyblue-400,
//     "300": $-clr-skyblue-300,
//     "200": $-clr-skyblue-200,
//     "100": $-clr-skyblue-100,
//   ),
// );

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-500: var(--neutral-500);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
