@use "../abstracts/" as *;

.flex-group {
  display: flex;
  gap: var(--flex-column-gap, $flex-group-gap);
  justify-content: space-between;
  align-items: center;
}

.flex-group.mx-auto {
  justify-content: center;
}
