@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/static/WorkSans-Regular.ttf") format("true type");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/static/WorkSans-SemiBold.ttf") format("true type");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/static/WorkSans-Bold.ttf") format("true type");
}
